.custom-block.details
    background: transparent
    padding: 1em

.theme-default-content
    blockquote
        code
            background-color: transparent
            color: inherit
            padding: 0

div[class*="language-"]
    background-color: #f9f9f9

    code
        color: #555 !important

h1 + h3,
h2 + h4
    padding-top: 2.1rem !important

h2
    border-bottom: none

h2 + ul,
h4 + ul
    margin-top: 0

pre
    code
        white-space: break-spaces
