.custom-block.details
    background: transparent
    padding: 1em 1.6em 1em 0

    summary
        margin-left: -1em

.theme-default-content
    blockquote
        code
            background-color: transparent
            color: inherit
            padding: 0

div[class*="language-"]
    background-color: #f9f9f9

    code
        color: #555 !important

div.text-center
    text-align: center
    padding: 2em 0

    hr
        border-color: transparent

    p + p
        margin-top: -1em

h1 + h3
    padding-top: 2.6rem !important


h2
    border-bottom: none

h2 + ul,
h4 + ul
    margin-top: 0

pre
    code
        white-space: break-spaces
